.modal {
    /* to be changed later flex -> none */
    display: none;     
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(54, 48, 74, 0.66);
    justify-content: center; 
    align-items: center;     
}

/* Backdrop to avoid interaction */
.backdrop {
    display: block;
    position: fixed;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 40%;
    background-color: rgba(217, 217, 217, 0.6);
    z-index: 2;
}

/* Modal Customization */
.block-label-input {
    display: flex;
    flex-direction: column;
}

.block-label-input label {
    font-weight: 600;
    color: #292828;
    padding-bottom: 10px;
}

.confirm-modal-container {
    display: block;
    z-index: 3;
    background-color: #D9D9D9;
    width: 40%;
    border-radius: 13px;
    padding: 30px 60px;
    text-align: center;
}

.confirm-modal-container h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #3B404A;
}

.form-modal-container {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #D9D9D9;
    width: 40%;
    padding: 30px 100px;
    border-radius: 13px;
}

.underline-input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid rgba(80, 77, 77, 0.8);
    transition: border-color 0.1s ease;
}

.record-data-display {
    width: 50%;
    margin: 0 auto 25px auto;
    text-align: left;
    color: #3B404A;
}

.underline-input:focus {
    border-color: #C650C0;
}

.search-area {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #292828;
    margin-bottom: 40px;
}

.search-area label {
    padding-right: 10px;
}

.search-area .underline-input {
    width: 70px;
}

#success-text, #error-text, #receipt-success-text {
    width: 100%;
    margin-bottom: 25px;
    font-size: 16px;
    color: #787777;
}

#warning-text {
    width: 70%;
    margin: 0 auto 25px auto;
    font-size: 16px;
    color: #868686;
}


/* Alert icon */
.alert-icon {
    height: 46px;
    margin-bottom: 10px;
}

.customer-icon {
    height: 100px;
    margin: 0 auto 40px auto;
}


/* Modal Buttons */
.confirm-button {
    background-color: #504D4D;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.confirm-button:hover {
    background-color: #3f3e3e;
}

.cancel-delete-button {
    color: #3B404A;
}

.cancel-button:hover, .cancel-delete-button:hover {
    background-color: #dedada;
}

.confirmed-delete-button {
    background-color: #E11D48;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.confirmed-delete-button:hover {
    background-color: #b91e3f;
}

.modal-button {
    padding: 10px 20px;
    width: 100%;
}

.box-styled-input {
    border-radius: 13px;
    border: none;
    padding: 10px 10px 10px 50px;
    width: 100%;
    background-color: #CDCCCC;
    color: #655F7B;
    font-weight: 500;
}

.box-styled-input::placeholder {
    color: rgba(101, 95, 123, 0.7);
    font-weight: 450;
}


/* USER RECEIPT MODAL*/
#receiptModal {
    display: none;
}

#receiptModal .confirm-modal-container {
    position: absolute;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #403d4d;
}

#receiptModal h1 {
    font-size: 22px;
}

.receipt-header {
    text-align: left;
    width: 100%;
}

.receipt-header p:first-child {
    text-align: right;
}

.receipt-header h2 {
    font-weight: 600;
    font-size: 20px;
}

.receipt-sub-header {
    opacity: 0.5;
    font-weight: 600;
}

.receipt-bold {
    font-weight: 700;
}

.receipt-border-bottom {
    padding-bottom: 20px;
    border-bottom: 2px solid #C4C4C4;
}

.receipt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.receipt-personal-info {
    display: block;
    text-align: left;
}

.receipt-billing-info {
    display: grid;
    margin-left: 60px;
    grid-template-columns: 1fr 1fr;
}

.billing-left {
    text-align: left;
    font-weight: 400;
}

.billing-left p:nth-child(2), .billing-right p:nth-child(2) {
    padding-bottom: 10px;
}

.billing-right {
    text-align: right;
    font-weight: 700;
}

.order-id {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-id p:first-child {
    margin-right: 8px;
}

.receipt-download {
    text-decoration: none;
    font-weight: 700;
    color: #1e80d0;
}

.receipt-download:hover {
    text-decoration: underline;
    cursor: pointer;
}

.receipt-exit {
    position: absolute;
    top: 5%;
    right: 5%;
}

.receipt-exit-button {
    font-size: 25px;
    height: auto;
    transform: scaleX(1.2);
    font-weight: bolder;
    color: #e9684d;
}

.receipt-exit-button:hover {
    cursor: pointer;
    filter: brightness(80%);
}
