header {
    position: fixed;
    top: 0;
    background-color: #36304A;
    height: 70px;
    width: 100%;
    z-index: 5;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul .list-container, nav ul .list-container div {
    display: flex;
    gap: 170px; /* adjust this to your needs */
    align-items: center;
}

nav > ul > .list-container > li, nav > ul > .list-container > div > li {
    list-style: none;
}

.list-container > li > a, .list-container > div > li > a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.list-container > li > a:hover, .list-container > div > li > a:hover {
    color: #db90d7;
}

.nav-item.active a, .user-nav-item.active a {
    color: #D25CCC;
}

.user-nav-item.active a img, .nav-item.active a img {
    filter: invert(99%) sepia(100%) saturate(4644%) hue-rotate(291deg) brightness(186%) contrast(103%);

}

.svg-icon {
    height: 30px;
    width: 30px;
}

.svg-icon:hover {
    filter: invert(99%) sepia(100%) saturate(4644%) hue-rotate(291deg) brightness(586%) contrast(103%);
}