* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-image: linear-gradient(-170deg, #C650C0, #4958CF);
    height: 100vh;
}

#admin {
    display: none;
}

#user {
    display: none;
}

.border-rad-filter {
    border-radius: 7px;
    border: 0;
}

.border-rad-form {
    border-radius: 11px;
    border: 0;
}

.container {
    height: 100vh;
}

.corner-smooth {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

#addCategoryDropdown {
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
}

#admin-logout-button {
    margin-top: 180px;
}

.delete-button {
    padding: 5px 20px;
    margin: -5px 0;
    background-color: #D44251;
    color: white;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #b22634;
}

.dropdown-icon {
    position: absolute;
    background-image: url('../assets/dropdown-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    width: 70px;
    top: 0;
    right: 74%;
    pointer-events: none;
}

.filter-container {
    height: 8%;
    margin-bottom: 10px;
}

.filter-container form {
    position: relative;
    float: right;
}

.ht-max {
    height: 100%;
}

.text-left {
    text-align: left;
}

.mg-auto {
    margin: 0 auto;
}

.mg-bottom-10 {
    margin-bottom: 10px;
}

.mg-bottom-20 {
    margin-bottom: 20px;
}

.mg-bottom-30 {
    margin-bottom: 30px;
}

.mg-bottom-40 {
    margin-bottom: 40px;
}

.mg-bottom-50 {
    margin-bottom: 50px;
}

.mg-bottom-60 {
    margin-bottom: 60px;
}

.mg-right {
    margin-right: 8px;
}

.no-record {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-record p {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.33);
}

.pd-filter {
    padding: 10px 20px;
}

.pd-main {
    padding: 130px 140px 60px 140px;
}

.report-container {
    position: relative;
    height: 85%;
    background-color: white;
    overflow-y: scroll;
}

.search-filter {
    background-color: #F7F7F9;
    width: 450px;
    margin-left: 15px;
    padding-left: 56px;
}

.select-filter {
    background-color: #DADAE0;
    width: 185px;
}

.semi-bold {
    font-weight: 600;
}


/* Dropdown icon */
#orderIdDropdown {
    right: 45%;
}

#customerIdDropdown {
    right: 82.5%;
}

#productNameDropdown {
    right: 77.6%;
}

#categoryNameDropdown {
    right: 54%;
}

.search-logo {
    position: absolute;
    background-image: url('../assets/search-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    width: 70px;
    top: 0;
    left: 31%;
    pointer-events: none;
}


/* Display Tab */
#inputForm,
#customerDetailReport,
#customerOrderReport,
#productCatalogReport,
#useraddOrderContainer,
#userViewEditOrderContainer {
    display: none;
}


/* Hide the default select arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 30px; /* Adjust as needed */
}

*:focus {
    outline: none;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: #D9D9D9;
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-170deg, #C650C0, #4958CF);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

select::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
}

select::-webkit-scrollbar-thumb {
    background-color: #36304a;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}