* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-image: linear-gradient(-170deg, #C650C0, #4958CF);
    height: 100vh;
}

#admin {
    display: none;
}

#user {
    display: none;
}

.border-rad-filter {
    border-radius: 7px;
    border: 0;
}

.border-rad-form {
    border-radius: 11px;
    border: 0;
}

.container {
    height: 100vh;
}

.corner-smooth {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

#addCategoryDropdown {
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
}

#admin-logout-button {
    margin-top: 180px;
}

.delete-button {
    padding: 5px 20px;
    margin: -5px 0;
    background-color: #D44251;
    color: white;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #b22634;
}

.dropdown-icon {
    position: absolute;
    background-image: url('../assets/dropdown-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    width: 70px;
    top: 0;
    right: 74%;
    pointer-events: none;
}

.filter-container {
    height: 8%;
    margin-bottom: 10px;
}

.filter-container form {
    position: relative;
    float: right;
}

.ht-max {
    height: 100%;
}

.text-left {
    text-align: left;
}

.mg-auto {
    margin: 0 auto;
}

.mg-bottom-10 {
    margin-bottom: 10px;
}

.mg-bottom-20 {
    margin-bottom: 20px;
}

.mg-bottom-30 {
    margin-bottom: 30px;
}

.mg-bottom-40 {
    margin-bottom: 40px;
}

.mg-bottom-50 {
    margin-bottom: 50px;
}

.mg-bottom-60 {
    margin-bottom: 60px;
}

.mg-right {
    margin-right: 8px;
}

.no-record {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-record p {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.33);
}

.pd-filter {
    padding: 10px 20px;
}

.pd-main {
    padding: 130px 140px 60px 140px;
}

.report-container {
    position: relative;
    height: 85%;
    background-color: white;
    overflow-y: scroll;
}

.search-filter {
    background-color: #F7F7F9;
    width: 450px;
    margin-left: 15px;
    padding-left: 56px;
}

.select-filter {
    background-color: #DADAE0;
    width: 185px;
}

.semi-bold {
    font-weight: 600;
}


/* Dropdown icon */
#orderIdDropdown {
    right: 45%;
}

#customerIdDropdown {
    right: 82.5%;
}

#productNameDropdown {
    right: 77.6%;
}

#categoryNameDropdown {
    right: 54%;
}

.search-logo {
    position: absolute;
    background-image: url('../assets/search-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    width: 70px;
    top: 0;
    left: 31%;
    pointer-events: none;
}


/* Display Tab */
#inputForm,
#customerDetailReport,
#customerOrderReport,
#productCatalogReport,
#useraddOrderContainer,
#userViewEditOrderContainer {
    display: none;
}


/* Hide the default select arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 30px; /* Adjust as needed */
}

*:focus {
    outline: none;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: #D9D9D9;
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-170deg, #C650C0, #4958CF);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

select::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
}

select::-webkit-scrollbar-thumb {
    background-color: #36304a;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* ADMIN DASHBOARD */
#adminDashboardContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 76px;
    padding-bottom: 0;
}

#adminDashboardContainer .admin-form-container {
    background-color: #D9D9D9;
    height: 95%;
    margin: 0;
    width: 100%;
    border-radius: 14px;
    padding: 40px 70px;
    color: #36304A;
}

/* sub details design */
.admin-form-container .sub-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-around;
    width: 100%;
    height: 30%;
}

.admin-form-container .sub-details .admin-sub-1 {
    grid-column: 1;
    width: 100%;
}

.admin-form-container .sub-details .admin-sub-2 {
    grid-column: 2;
    width: 100%;
    margin-left: 20px;
}

.admin-form-container .sub-details .admin-sub-3 {
    grid-column: 3;
    width: 100%;
    margin-left: 20px;
}

.admin-form-container .sub-details div p:nth-child(1) {
    font-weight: 600;
    font-size: 24px;
}

.admin-form-container .sub-details div p:nth-child(2), .admin-form-container .sub-details div p:nth-child(2) span {
    font-weight: 800;
    font-size: 30px;
}

.admin-form-container .sub-details div p:nth-child(3) {
    font-weight: 600;
    font-size: 16px;
    color: #757373;
}

.admin-sub-1 p:nth-child(1) {
    color: #DB942A;
}

.admin-sub-2 p:nth-child(1) {
    color: #4958CF;
}


.admin-sub-3 p:nth-child(1) {
    color: #FA5E64;
}


/* main details design */
.admin-form-container .main-details {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 0.95fr 1.05fr;
    gap: 20px;
    width: 100%;
    height: 70%;
}

.main-details .admin-main-1 {
    grid-row: 1 / span 2;
    grid-column: 1;
    width: 100%;
    background-color: #ECECEC;
}

.main-details .admin-main-2 {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    background-color: #ECECEC;
}

.main-details .admin-main-3 {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    background-color: #ECECEC;
}

.admin-main-2 p:nth-child(1) {
    font-size: 26px;
    font-weight: bolder;
}

.admin-main-2 p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: #757373;
}

.admin-main-2 p:nth-child(3), .admin-main-2 p:nth-child(3) span {
    font-size: 50px;
    font-weight: 800;
}

.admin-main-3 p:nth-child(1) {
    font-size: 22px;
    font-weight: 700;
}

.admin-main-3 p:nth-child(2) {
    font-size: 36px;
    font-weight: 800;
    color: #7955ca;
}

.admin-main-3 .top-customer-sub-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-main-3 .top-customer-sub-details p:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    color: rgba(54, 48, 74, 0.7);
}

.admin-main-3 .top-customer-sub-details p:nth-child(2), .admin-main-3 .top-customer-sub-details p:nth-child(2) span {
    font-weight: 700;
    font-size: 32px;
    color: #36304A;
}

.dashboard-padding {
    padding: 20px;
    outline: 2px solid #4958CF;
}
